<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2">
                <h2 class="section-heading">Descubra a nossa aplicação e junte-se a nós!</h2>
                <p>O Homekeeper encontra-se disponível agora na sua plataforma! Começe hoje!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
