<section id="download" class="download bg-primary text-center">
  <div class = "row">
      <div class="container">
          <div class="row">
              <div class="col-md-9 col-md-offset-2">
                  <h2 class="section-heading">Descubra a nossa aplicação e junte-se a nós! </h2>
                  <h3><b> Marque a sua instalação e surpreenda-se!</b></h3>
                  <p>O Homekeeper encontra-se disponível agora na sua plataforma! Começe hoje!</p>
                  <div class="badges">
                      <a class="badge-link" href="http://homekeeper.herokuapp.com/"><img src="/img/google-play-badge.svg" alt=""></a>
                      <a class="badge-link" href="http://homekeeper.herokuapp.com/"><img src="/img/app-store-badge.svg" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <p></p>
</section>
