<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1><b>HomeKeeper, o futuro na sua casa!</b></h1>
                        <h1>Adira ao serviço por apenas 39,99€/mês e consiga 2 câmeras + 1 Hub.</h1>
                        <a href="#instala" class="btn btn-outline btn-xl page-scroll">Comece a testar agora!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
