<section id="instala" class="download bg-danger text-center">

<div class="container" class="contact bg-danger">
      <div class="row">
          <div class="col-xl-8 offset-xl-4">
              <center><h2>Marque agora a sua instalação</h2></center>
              <p></p>
              <p></p>
              <form id="contact-form" method="post" action="contact.php" role="form">
                  <div class="messages"></div>
                  <div class="controls">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label for="form_name">Nome *</label>
                                  <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                                      data-error="Firstname is required.">
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label for="form_lastname">Sobrenome</label>
                                  <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                      data-error="Lastname is required.">
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label for="form_email">Email *</label>
                                  <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required"
                                      data-error="Valid email is required.">
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group">
                                  <label for="form_phone">Contacto*</label>
                                  <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                  <div class="help-block with-errors"></div>
                              </div>
                          </div>
                      </div>
                      <p></p>

                      <center><input type="submit" class="btn btn-primary btn-send" value="Send message"></center>
                      <p></p>
                      <p></p>
                  </div>
              </form>
          </div>
          <!-- /.8 -->
      </div>
      <!-- /.row-->
  </div>
  <!-- /.container-->

</section>
