<section class="no-padding" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/physio.png" width="976" height="549" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fisioterapeutas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/babysitters.jpg" width="976" height="549" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Babysitters
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="/img/portfolio/Nurses.jpg" width="976" height="549" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Enfermeiras
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
            <a href="#" class="portfolio-box">
                <img src="/img/portfolio/clean.jpeg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Limpeza
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
</section>
