<section id="quote" class="download bg-primary text-center">
    <div class="container-fluid">
        <div class="service-box">
            <div class="col-sm-12">
                <h1 class="section-heading">Com o <b>Homekeeper</b> ainda pode escolher os melhores profissionais
                  para tratar do seu lar e dos seus. Descubra os serviços que pode contratar
                </h1>
                <i class="fa fa-5x fa-angle-down wow bounceIn text-white"></i>
            </div>
        </div>
    </div>
</section>
