
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Veja o que pode fazer com a nossa app</h2>
                        <p class="text-muted">A sua segurança a cima de tudo!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-10">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Câmeras</h3>
                                    <p class="text-muted">Acompanhar as câmeras instalas em sua casa.</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Serviços</h3>
                                    <p class="text-muted">Contratar algum dos serviços para o seu lar.</p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="feature-item">
                                  <a target="_blank" href="#download" style="color:black" class="btn btn-outline btn-xl">Comece a testar agora!</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </section>
